<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Esta es la vista de cliente</h1>
    <p>Bienvenido: <% usuario.username %></p>
    <p>Este es tu rol: <%= role %></p>
    <p>Privilegios: <%= privileges.join(', ') %></p>

</body>
</html>