<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <h1>Laboratorio 13</h1>
    <h2>Luis Gutierrez</h2>
    <h2>A00837481</h2>
    <p>En este laboratorio se utiliza MVC para resolver una situacion creada. 
        Esta situacion se basa en que el usuario va a ir ingresando precios de productos por comprar y el 
        sistema le devolvera el precio total.
    </p>
    <a href="/add">
        <button>Agregar Precios</button>
    </a>
    <div id = "Preguntas">
        <h2>Preguntas</h2>
        <li>1. ¿Qué beneficios encuentras en el estilo MVC?</li>
        <p>Utilizar MVC en un proyecto ayuda a mantener los archivos ordenados y tambien mas ligeros ya que 
            toda la codificacion está dividida en partes. Tambien MVC funciona como un metodo estandarizado
            para crear aplicaciones web, lo que permite que cualquier programador pueda entender el
            funcionamiento de la aplicacion.
        </p>
        <li>2. ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</li>
        <p>Una desventaja que encuentro sobre el modelo MVC es si nos equivocamos con alguna ruta
            o no la tenemos bien definida, el sistema no va a funcionar. 
            Otra desventaja es que si no tenemos un buen entendimiento de MVC, puede ser confuso
            y complicado de entender.
        </p>

    </div>
</body>
</html>