<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <h1>Laboratorio 18</h1>
    <h2>Luis Gutierrez</h2>
    <h2>A00837481</h2>
    <p>En este laboratorio se utiliza cookies y sistema de autenticacion para resolver una situacion creada. 
        Esta situacion se basa en la implementacion del laboratorio 18 y se adapta a un sistema de autenticacion.
    </p>
    <div id = "Preguntas">
        <h2>Preguntas</h2>
        <li>1. ¿Qué otras formas de autentificación existen?</li>
        <p>
            <ul>
                <li>Autenticacion biometrica </li>
                <li>Autenticacion por token</li>
                <li>Autenticacion por correo electronico </li>
                <li>Autenticacion MFA - dos factores</li>
            </ul>
        </p>
        <div id="login">
            <a href="/usuarios/login"><button>Login</button></a>
        </div>
    </div>
</body>
</html>