
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Agregar precios/productos</h1>
        <form action="/add" method="POST">
            <label for="precio">Precio:</label>
            <input type="number" name="precio" id="precio" required>
            <label for="nombre">Nombre del producto:</label>
            <input type="text" name="nombre" id="nombre" required>
            <button type="submit">Agregar</button>
        </form>
    <h2>Precios agregados</h2>
    <ul>
        <% if (precios && precios.length > 0) { %>
            <% precios.forEach(precio => { %>
                <li>Precio: <%= precio.precio %></li>
            <% }); %>
        <% } else { %>
            <li>No hay precios agregados aún.</li>
        <% } %>
    </ul>
    <h2>Total <%=total%></h2>

    <h2>Productos agregados</h2>
    <ul>
        <% if (productos && productos.length > 0) { %>
            <% productos.forEach(producto => { %>
                <li>Producto: <%= producto.nombre %> - Precio: $<%= producto.precio %></li>
            <% }); %>
        <% } else { %>
            <li>No hay productos agregados aún.</li>
        <% } %>
    </ul>
</body>
</html>