<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <h1>Laboratorio 17</h1>
    <h2>Luis Gutierrez</h2>
    <h2>A00837481</h2>
    <p>En este laboratorio se utiliza la conexion a la base de datos para resolver una situacion creada. 
        Esta situacion se basa en el Laboratorio 13 con algunas modificaciones.
    </p>
   <a href="/add">
        <button>Agregar Productos y precios</button>
    </a>
    <div id = "Preguntas">
        <h2>Preguntas</h2>
        <li>1. ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</li>
        <p>
            La ventaja de escribir el código SQL únicamente en la capa del modelo es que 
            podemos tener un mejor control sobre la base de datos y su estructura. 
            Además, esto nos permite mantener el código más organizado, 
            lo que facilita su mantenimiento y comprensión.
            Tambien ayuda a tener mayor seguridad, ya que podemos evitar inyecciones SQL y otros ataques.
        </p>
        <li>2.¿Qué es SQL injection y cómo se puede prevenir?</li>
        <p>
            SQL injection es un tipo de haackeo donde el atacante inserta o "inyecta" código SQL malicioso en una consulta SQL.
            Esto hace que el atacante pueda acceder a datos de nuestra base de datos.
            Para prevenirlo, podemos utilizar consultas preparadas(definen el codigo aceptable), definir que usuarios 
            pueden acceder a la base de datos o bien limitar los permisos de los usuarios.
        </p>

    </div>
</body>
</html>