html{
    background-color: rgb(0, 71, 15);
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
p{
    color: rgb(243, 245, 247);
    text-align: center;
}
li{
    color: rgb(243, 245, 247);
    text-align: center;
}