<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <h1>Laboratorio 13</h1>
    <h2>Luis Gutierrez</h2>
    <h2>A00837481</h2>
    <p>En este laboratorio se utiliza MVC para resolver una situacion creada. 
        Esta situacion se basa en que el usuario va a ir ingresando precios de productos por comprar y el 
        sistema le devolvera el precio total.
    </p>
    <a href="/add">Agregar Precio</a>
</body>
</html>