<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <body>
        <h1>Lista de Precios</h1>
        <ul>
            <% prices.forEach(price => { %>
                <li>Precio: $<%= price.value %></li>
            <% }); %>
        </ul>
        <h2>Total: $<%= total %></h2>
        <a href="/add">Agregar otro precio</a>
    </body>
    </html>