<!DOCTYPE HTML>
<html>
<head>
  <%- include('./../css.ejs') %>
</head>
<body>
  <h1>Obtener Usuarios</h1>
  <p><%= usuarios.length %></p>
  <% for(let i = 0; i < usuarios.length; i++){ %>
    <p><%= usuarios[i].nombre %></p>
  <% } %>
</body>
<%- include('./../scripts.ejs') %>
</html>