<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel = "stylesheet" href = "styles.css">
</head>
<body>
    <h1>Laboratorio 18</h1>
    <h2>Luis Gutierrez</h2>
    <h2>A00837481</h2>
    <p>En este laboratorio se utiliza cookies y sistema de autenticacion para resolver una situacion creada. 
        Esta situacion se basa en la implementacion del laboratorio 18 y se adapta a un sistema de autenticacion.
    </p>
    <div id = "Preguntas">
        <h2>Preguntas</h2>
        <li>¿En qué consiste el control de acceso basado en roles?</li>
        <ul>
            <li>Consiste en otorgar permisos basados en su rol dentro de una organizacion </li>
        </ul>
        <li>1. Investiguen y describan 2 sistemas, uno que aplique RBAC y uno que no. Realicen un análisis de las ventajas y desventajas de cada uno con respecto al control de acceso.</li>
        <p>
            <ul>
                <li>Si utiliza:AWS: para controlar acceso a datos en la nube</li>
                <li>Ventajas: Se puede modificar el rol facilmente, Los permisos son agrupados
                    por rol.
                </li>
                <li>Desventajas: Puede otorgar permisos erroneos si no se define claramente,
                    necesita un administrador que gestione continuamente para definir los roles y permisos.
                </li>
                <li>No utiliza:SQLite</li>
                <li>Ventajas: Es simple por lo que no se necesita una configuracion de roles, 
                    es muy utilzado en sistema pequeños.
                </li>
                <li>Desventajas: No hay control de que usuario puede realizar que cosa por ende no hay control
                    sobre quien realizo que accion.
                </li>
            </ul>
        </p>
        <div id="login">
            <a href="/form"><button>Registrarse</button></a>
            <a href="/login"><button>Iniciar Sesión</button></a>
        </div>
    </div>
</body>
</html>